# Android Studio
.idea/
.gradle/
local.properties
*.iml

# Build
/build/
*/build/

# Captures e artefatos nativos
/captures/
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Google Services
app/google-services.json

# Linux executáveis
*.out

# Windows executáveis
*.exe
*.bat
desktop.ini
