# Android Studio
.idea/
*.iml
*.ipr
*.iws

# Gradle
.gradle/
local.properties
gradle-wrapper.properties
**/build/

# Firebase / Google Services
app/google-services.json

# Build / Captures / Artefatos Nativos
/captures/
.externalNativeBuild/
.cxx/

# Navegação e Cache
.navigation/
.cache/
*.cache

# Logs e Temporários
*.log
*.tmp
*.temp
*.bak
*.swp

# Keystore files (NUNCA versionar)
*.jks
*.keystore

# Arquivos de sistema
# macOS
.DS_Store

# Windows
*.exe
*.bat
Thumbs.db
desktop.ini

# Linux
*.out
